.Container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: end;
    gap: 5px;
    padding: 8px;
    top: 0;
    left: 0;
    pointer-events: none;
}

.Alert{
    position: relative;
    width: 280px;
    height: auto;
    border-radius: 5px;
    padding: 5px 8px;
    box-shadow: var(--shadow);
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    align-items: center;
}

.Warning{
    background: rgb(248,243,214);
    color: rgb(148,114,49);
}

.Icon {
    font-size: 1.2rem;
    margin-right: 8px;
    grid-column: 1/2;
    grid-row: 1/2;
}

.Alert h4{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: flex-start;
    margin: 0;
}

.Alert p{
    color: rgb(148,114,49);
    font-size: 0.8rem;
    grid-column: 2/3;
    grid-row: 2/3;
}

.Progress{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    left: 0;
    animation: progressAnimation 4.9s;
}

@media only screen and (min-width: 768px){
    .Container{
        padding: 20px;
    }
}

@keyframes progressAnimation{
    0%{
        background: rgb(148,114,49); 
        width: 100%;
    }
    40%{
        background: rgb(148,114,49);
    }
    100%{
        background: rgb(60, 46, 20);
        width: 0%;
    }
}

