.Asset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 120px;
  }

  .Poster{
    opacity: .5;
    width: 90%;
    border-radius: 10px;
  }