.Container{
    position: relative;
    width: 100%;
    padding: 10px 15px 10px 0;
}

.Comment{
    margin-top: 3px;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "avatar owner date ."
    ". comment comment .";
    grid-template-columns: auto auto 1fr 40px;
    grid-template-rows: auto 1fr;
    align-items: center;
    padding: 5px 8px;
    position: relative;
    overflow: hidden;
}

.Comment:before,
.Container:before{
    content: "";
    position: absolute;
    width: 96%;
    left: 2%;
    bottom: 1px;
    height: 1px;
    background: var(--grey-2);
}

.Dropdown{
    position: absolute;
    top: 5px;
    right: 5px;
}

.Avatar{
    grid-area: avatar;
}

.Owner{
    grid-area: owner;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--grey-2);
    margin-left: 8px;
}

.Owner:hover{
    color: var(--grey-2);
    text-decoration: none;
}

.Date{
    grid-area: date;
    justify-self: end;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: .8rem;
    color: var(--grey-1);

}

.Content{
    grid-area: comment;
    margin: 10px 0 20px 8px
}