.Back,
.Front{
    display: flex;
    justify-content: start;
    gap: 5px;
    width: min-content;
    position: relative;
}

.Xs,
.Xs .Front{
    gap: 3px;
}

.Back i{
    color: var(--grey-2);
    font-size: 1.3rem;
}

.Xs i{
    font-size: .9rem;;
}

.Front{
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}