.Modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: var(--gradient-3);
}

.Poster{
    user-select: none;
    z-index: 2;
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    object-fit: cover;
    position: absolute;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.PosterOverlay{
    user-select: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    filter: blur(.4rem);
    opacity: .6;
}