.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 20px;
    background: var(--purple-2);
}

.HeaderImg {
    min-width: 100%;
    width: auto;
    height: 70vh;
    object-fit: cover;
    mask-image: linear-gradient(rgba(0, 0, 0, .95)40%, rgba(0, 0, 0, .3) 80%, rgba(0, 0, 0, 0));
}

.TitleContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 15px 10px;
}

.TitleContainer img {
    width: 80%;
    max-width: 600px;
    margin-bottom: 10px;
}

.TitleContainer h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--translucid-white);
    font-size: 1.3rem;
}


.MoviesTitle {
    position: relative;
    height: 0;
}

.MoviesTitle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 70px;
    background: var(--purple-2);
    bottom: -70px;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
}

.Movies h2 {
    color: var(--translucid-white);
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: -20px;
}

.LatestMovies,
.LatestReviews {
    width: 100%;
    margin-top: 70px;
}

.Reviews {
    width: 100%;
    min-height: 200px;
}

.Reviews h2 {
    color: var(--grey-2);
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    width: 100%;
    text-align: center;
}

.LatestReviews {
    width: 100%;
    margin-top: 30px;
}







@media only screen and (min-width: 768px) {
    .TitleContainer h1 {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: var(--translucid-white);
        font-size: 1.7rem;
    }

    .LatestMovies,
    .LatestReviews {
        margin-left: auto;
        margin-right: auto;
        width: calc(100% - 20px);
        max-width: 1000px;
    }


}