.DropdownMenu{
    border: none;
    background: var(--white-2);
}
.DropdownItem {
    display: inline-block;
    max-width: 50%;
    padding: 0px;
    color: var(--purple-3);
    font-size: 1.5rem;
  }

.DropdownItem:hover {
    color: var(--purple-1);
    background: none;
  }
  
  .Absolute {
    position: absolute;
    right: 0;
    z-index: 99;
  }

  .Icon{
    font-size: 2.5rem;
    transition: var(--transition-08s);
    width: 2rem;
    text-align: center;
    cursor: pointer;
  }
  
  .White{
    color: var(--translucid-white);  
  }
  .White:hover{
    color: var(--white);
  }
  .Grey{
    color: var(--grey-2);  
  }
  .Purple:hover{
    color: rgb(28, 28, 28);  
  }


  .Profile{
    display: flex!important;
    flex-flow: column;
    padding: 10px;
    gap: 5px;
  }

  .Profile .DropdownItem{
    font-size: 1rem;
  }

  .Profile .DropdownItem i{
    font-size: 1.3rem;
    margin-right: 5px;
  }