.Container,
.InfiniteScrollContainer > div > div{
    width: 100%;
    display: grid;
    column-gap: 10px;
    row-gap: 5px;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.Count{
    display: block;
    text-align: end;
    color: var(--purple-1);
    font-weight: 600;
}


@media only screen and (min-width: 768px){
    .Container,
    .InfiniteScrollContainer > div > div{
        grid-template-columns: repeat(5, 1fr);
        padding: 10px 20px;
    }
}