.Card{
    background: var(--gradient);
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-flow: column;
}

.Ratio{
    width: 100%;
    padding-top: 150%;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    mask-image: linear-gradient(rgba(0, 0, 0, 1)70%, rgba(0, 0, 0, 0) 95%);
}

.Ratio img{
    cursor:pointer;
    max-width: 120%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
    position: absolute;
    top: 0;
}

.Content{
    display: grid;
    grid-template-areas: 
    "rating rating rating"
    "title title title"
    "year year year"
    "seen watchlist reviews";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    height: 100%;
}

.AvgRating{
    grid-area: rating;
    position: relative;
    top: -20px;
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
}

.Content a:hover{
    text-decoration: none;
}

.Content h3,
.Content > a p,
.IconContainer p{
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    color: var(--translucid-white);
    margin-bottom: .25rem;
}

.Content a:nth-child(2){
    grid-area: title;
}


.Content a:nth-child(3){
    grid-area: year;
}

.Content a:nth-child(3) p{
    grid-area: year;
    font-size: .9rem;
}

.IconContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
}

.Content .IconContainer:nth-child(5) i{
    margin-top: 1px;
}

.IconContainer i{
    font-size: 1.3rem;
    color: var(--translucid-white);
}

.IconContainer p{
    font-size: .9rem;
    margin-top: auto;
    margin-bottom: .1rem;
}

.Content .IconContainer:nth-child(4){
    grid-area: seen;
}

.Content .IconContainer:nth-child(5){
    grid-area: watchlist;
}

.Content .IconContainer:nth-child(4) i{
    cursor: pointer;
}

.Content .IconContainer:nth-child(5) i{
    cursor: pointer;
}

.Content .IconContainer:last-child{
    grid-area: reviews;
}
