.NavBar{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100vh;
    min-width: 55px;
    width: auto;
    transition: var(--transition-08s);
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

.LogoContainer{
    position: absolute;
    z-index: 13;
    top: -40px;
    left: -40px;
    width: 92px;
    height: 92px;
    background: var(--purple-3);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 0 0% 50% 0%;
    overflow: hidden;
}

.LogoContainer img:first-child{
    width: 40px;
    height: 40px;
    margin: 0  6px 6px 0;
}

.FullLogoContainer{
    display: none;
}

.ButtonContainer{
    position: absolute;
    z-index: 12;
    top: 0px;
    left: 15px;
    width: 80px;
    height: 52px;
    background: var(--purple-3);
    border-radius: 0 50% 50% 0%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: var(--transition-08s);
}

.ButtonContainerHide{
    left: -70px;
}

.Open .ButtonContainerHide{
    left: 15px;
}

.ButtonContainer button{
    height: 40px;
    width: 40px;
    border: none;
    background: none;
    position: relative;
    margin-right: 6px;
    transition: var(--transition-08s);
}

.ButtonContainer button:focus-visible{
    outline-width: 0;
}

.ButtonContainer button span{
    position: absolute;
    background: var(--white-1);
    left: 10px;
    top: 8px;
    height: 4px;
    width: 20px;
    border-radius: 3px;
    transition: var(--transition-08s)
}

.ButtonContainer button span:nth-child(2){
    top: 18px;
    left: 5px;
    width: 30px;
}

.ButtonContainer button span:last-child{
    top: 28px;
}

.Open .ButtonContainer{
    background: none;
}

.Open .ButtonContainer button{
    transform: rotate(180deg);
}

.Open .ButtonContainer button span:first-child{
    transform: rotate(-45deg);
    top: 14px;
    width: 10px;
    left: 18px;
}

.Open .ButtonContainer button span:nth-child(2){
    transform: rotate(45deg);
    top: 18px;
    width: 20px;
    left: 10px;
}

.Open .ButtonContainer button span:last-child{
    transform: rotate(-45deg);
    top: 21px;
    width: 10px;
    left: 11px;
}

.SubmenuWrapper{
    height: 100%;
    width: 0px;
    overflow: hidden;
    transition: var(--transition-08s);
    position: relative;
}
.SubmenuWrapper > div{
    padding: 60px 0;
    height: 100%;
    background: var(--gradient-2);
    width: 65vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
}

.SubmenuWrapper > div a:last-child{
    margin-top: auto;
}

.Open .SubmenuWrapper{
    width: 100vw;
}

.Profile{
    position: absolute;
    z-index: 100;
    bottom: 12px;
    left: 12px;
}


@media only screen and (min-width: 768px){

    .LogoContainer{
        z-index: 12;
        top: 10px;
        left: 12px;
        width: auto;
        height: auto;
        display: inline;
        border-radius: 0;
    }
    .LogoContainer img{
        margin: 0;
    }

    .FullLogoContainer{
        display: inline;
        position: absolute;
        top: 10px;
        left: 13vw;
    }

    .FullLogoContainer img{
       width: 16vw;
       height: auto;
    }

    .SubmenuWrapper{
        width: 72px;
    }

    .ButtonContainer{
        width: 52px;
        left: 46px;
        top: 4px;
        border-radius: 50%;
        justify-content: center;
        z-index: 13;
        transform: scale(.7);
    }

    .ButtonContainer button{
        margin: 0;
    }

    .Open .ButtonContainer{
        left: calc(40vw - 28px);
        background: var(--purple-3);
    }

    .SubmenuWrapper > div{
        width: 40vw;
        padding-top: 55px;
    }

    .Open .SubmenuWrapper{
        width: 40vw;
    }
}