.Link:hover,
.DropdownLink:hover{
    text-decoration: none;
    color: white;
}

.MainLink{
    height: 45px;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: var(--transition-08s);
    border-bottom: 3px solid var(--white-1);
}

.MainLink:hover,
.Open .MainLink,
.Active{
    background: rgba(101, 101, 101, 0.1);
}

.MainLink *{
    font-size: 21px;
    color: var(--white-1);
}

.AuthLink{
    background: red!important;
    margin-top: auto;
}

.MainLink span{
    text-transform: capitalize;
    margin-left: 10px;
}

.MainLink i:last-child{
    position: absolute;
    right: 10px;
    transition: var(--transition-08s);
}

.Open .MainLink i:last-child{
    rotate: 90deg;
}

.Dropdown{
    width: 60vw;
    height: auto;
    max-height: 0px;
    transition: max-height 0.8s ease-out;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.Open.Dropdown{
    max-height: 1000px;
    transition: max-height 2s ease-out;
    transition-delay: .4s;
}

.DropdownLink{
    width: 100%;
    height: 30px;
    background-color: var(--white-1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--purple-1);
    text-transform: capitalize;
}

.DropdownLink:hover,
.DropdownLinkActive{
    background-color: var(--purple-5);
    color: var(--white-1);
}

@media only screen and (min-width: 768px){
    .MainLink{
        width: 40vw;
        border-bottom: none;
        /* height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: var(--transition-08s);*/
    }

    .MainLink i:first-child{
        font-size: 35px;
        position: absolute;
        left: 12px;
    }

    .MainLink i:last-child{
        left: 50px;
        font-size: 18px;
        right: auto;
    }

    .Dropdown{
        width: 40vw;
    }

    .DropdownLink{
        width: 40vw;
        justify-content: flex-start;
        padding-left: 5px;
    }

}