.Card{
    width: 100%;
    display: grid;
    padding: 10px;
    grid-template-areas:
    "movieTitle movieTitle movieTitle movieTitle"
    "stars stars owner avatar"
    "poster ratingTitle ratingTitle ratingTitle"
    "poster ratingContent ratingContent ratingContent"
    ;
    grid-template-columns: 75px auto auto 25px;
    grid-template-rows: auto auto 1fr 1.5fr;

}


.MovieTitle,
.Owner,
.RatingTitle,
.RatingContent,
.MovieTitle:hover,
.Owner:hover,
.RatingTitle:hover,
.RatingContent:hover{
    text-decoration: none;
    color: var(--grey-2);
    font-family: 'Poppins', sans-serif;
}

.MovieTitle{
    grid-area: movieTitle;
    align-self: center;
}

.MovieTitle h2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.MovieTitle span{
    font-size: .9rem;
    margin-left: 3px;
}

.Stars{
    grid-area: stars;
    align-self: center;
}

.Owner{
    grid-area: owner;
    align-self: center;
    justify-self: end;
    margin-right: 5px;
    font-size: .8rem;
}

.Avatar{
    grid-area: avatar;
    align-self: center;
}

.Poster{
    margin-top: 20px;
    grid-area: poster;
    width: 100%;
}

.RatingTitle,
.RatingTitle:hover,
.RatingContent,
.RatingContent:hover{
    font-family: 'Work Sans', sans-serif;
}

.RatingTitle{
    grid-area: ratingTitle;
    margin: 20px 0 0 10px;
}
.RatingTitle h3{
    font-size: 1.2rem;
    margin-bottom: .25rem;
}

.RatingContent{
    grid-area: ratingContent;
    margin-left: 10px;
}




@media only screen and (min-width: 768px){
    .Last{
        display: none;
    }
}