.Card {
    width: 100%;
    display: grid;
    padding: 10px;
    grid-template-areas:
        "movieTitle movieTitle owner avatar"
        "stars stars stars stars"
        "poster ratingTitle ratingTitle ratingTitle"
        "poster ratingContent ratingContent ratingContent"
    ;
    grid-template-columns: auto 1fr auto 25px;
    grid-template-rows: auto auto auto 1fr;
    position: relative;
}

.Card:after {
    background: var(--translucid-white);
    content: "";
    position: absolute;
    height: 2px;
    bottom: 1px;
}


.MovieTitle,
.Owner,
.RatingTitle,
.RatingContent,
.MovieTitle:hover,
.Owner:hover,
.RatingTitle:hover,
.RatingContent:hover {
    text-decoration: none;
    color: var(--grey-2);
    font-family: 'Poppins', sans-serif;
}

.MovieTitle {
    grid-area: movieTitle;
    align-self: center;
}

.MovieTitle h2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
}

.MovieTitle span {
    font-size: .9rem;
    margin-left: 3px;
}

.Stars {
    margin-top: 15px;
    grid-area: stars;
    align-self: center;
}

.Owner {
    grid-area: owner;
    align-self: center;
    justify-self: end;
    margin-right: 5px;
    font-size: .8rem;
}

.Avatar {
    grid-area: avatar;
    align-self: center;
}

.Poster {
    margin-top: 20px;
    grid-area: poster;
    width: 75px;
}

.RatingTitle,
.RatingTitle:hover,
.RatingContent,
.RatingContent:hover {
    font-family: 'Work Sans', sans-serif;
}

.RatingTitle {
    grid-area: ratingTitle;
    margin: 20px 0 0 10px;
}

.RatingTitle h3 {
    font-size: 1.2rem;
    margin-bottom: .25rem;
}

.RatingContent {
    grid-area: ratingContent;
    margin-left: 10px;
}




@media only screen and (min-width: 768px) {
    .Card {
        grid-template-areas:
            "movieTitle movieTitle movieTitle movieTitle"
            "stars stars owner avatar"
            "poster ratingTitle ratingTitle ratingTitle"
            "poster ratingContent ratingContent ratingContent"
        ;
        grid-template-columns: 75px auto auto 25px;
    }

    .Card:after {
        width: calc(90% + 20px);
    }

    .MovieTitle h2 {
        justify-content: center;
    }

    .Stars {
        margin-top: 0;
    }

    .Poster {
        width: 100%;
    }
}