.InfiniteScrollContainer > div > div{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 8px;
    padding: 8px 0px;
}

.Count{
    display: block;
    text-align: end;
    color: var(--purple-1);
    font-weight: 600;
}


@media only screen and (min-width: 768px) {
    .InfiniteScrollContainer > div > div{
        padding: 8px;
        width: calc(100% - 20px);
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        justify-items: center;
    }
}