:root{
    --purple-1: rgb(102, 99, 255);
    --purple-2: rgb(143, 141, 255);
    --purple-3: rgb(148, 145, 246);
    --purple-4: rgb(152, 149, 237);
    --purple-5: rgb(187, 186, 243);
    --white: rgb(245, 245, 245);
    --black: rgb(18,18,18);

    --transition-08s:.8s all ease-in-out;
}

.App{
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    /* Temporary style */
    background: linear-gradient(#d7e664, #91e5a0 , #37326d);
}



@media only screen and (min-width: 768px){
    .Main {
        padding-left: 72px;
      }
}